body 
{
  background-image: url("image/fond.jpeg");
  background-repeat: no-repeat;
  background-size:100%;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
form 
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1000px;
  width: 100%;
}
  
input[type="reset"] 
{
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1.2rem;
  padding: 8px;
  margin-right: 10px;
  width: 10%;
}
input[type="text"] 
{
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1.2rem;
  padding: 8px;
  margin-right: 10px;
  width: 70%;
}


.corner
{
  background-color: hsla(0, 0%, 0%, 0.200);
  height: 25%;
  width: 98%; 
  display: flex;
  justify-content: center; /* Pour centrer verticalement */
  align-items: center;
  margin: auto;
}

button
{
  width: 50px;
  height: 50px;
  border-radius: 25%;
  border: none;
  position: relative;
  margin: 40px;
}
button img{
  width: 50px;
  height: 50px;
  border-radius: 25%;
  position: absolute; 
  top: 0;
  left: 0;
}

.cornerRecheche{
  position: absolute;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  height: 65%;
  width: 98%; 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: hsla(0, 0%, 0%, 0.040);;
}